/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  padding: 60px 1.5rem 0 1rem;
}


.searchInput {
  width: 100%;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  border: 1px solid var(--ifm-color-gray-200);
  font-size: 0.9rem;
  background-color: #f3f3f3;
}

.searchInput:focus {
  outline: none;
  border-color: var(--ifm-color-primary);
  box-shadow: 0 0 0 2px var(--ifm-color-primary-tint);
}

.LogoContainer{
    display:flex;
    gap : 10px;
    margin-bottom : 10px;
    line-height: 2;
}
.LogoContainer img{
    height: 30px;
    width: auto;
}

.homepageSidebar{
  width : 250px;
  border-right: 1px solid #ddd;
  background-color: #f8f8f8ff;
}